body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e09, #d0e);
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    background: #333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f4f4f4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.video-container {
    position: relative;
    width: 70%;
    max-width: 800px;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.video-container img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background: #333;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    color: #f4f4f4;
}
